body {
	background-color: whitesmoke;
	margin: 0;
	font-family: sans-serif;
}

#top_bar {
	background-color: #363635;
	overflow: hidden;
}
#top_bar a {
	float: left;
	padding: 10px 14px;
	text-align: center;
	text-decoration: none;
	font-size: 14px;
	font-weight: bold;
	background-color: #363635;
	color: whitesmoke;
	font-size:0.28in;
}
#article {
  max-width: 95%;
}
#top_bar a:hover {
	background-color: whitesmoke;
	color: #363635;
}

p {
	margin: 10px;
}
h1 {
	margin: 10px;
}
